{% macro render(
  name,
  type = 'text',
  placeholder = null,
  required = true,
  icon = null,
  autocomplete = null,
  class = '',
  errorMessage = null,
  defaultValue = '',
  disable = false,
  variant = 'enabled'
) %}
	<div class="mt-1 relative rounded-md shadow-sm">
		{% if icon %}
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
				<i class="{{ icon }} text-gray-400"></i>
			</div>
		{% endif %}

		<input
      {% if required %}required{% endif %}
      {% if disable or variant == 'disabled' %}disabled{% endif %}
      placeholder="{{ placeholder }}"
      id="{{ name }}"
      name="{{ name }}"
      type="{{ type }}"
      {% if autocomplete %} autocomplete="{{ autocomplete }}" {% endif %}
      class="py-2 {% if icon %}pl-10{% endif %} block w-full border rounded-md focus:ring-gray-500 focus:border-gray-500 {{
        (
          variant == 'enabled' ? 'bg-white border-gray-300 focus:ring-2 focus:ring-gray-500' :
          variant == 'default' ? 'bg-white border-gray-300' :
          variant == 'disabled' ? 'bg-gray-100 border-gray-300 cursor-not-allowed text-gray-400' :
          variant == 'error' ? 'bg-white border-red-300 focus:border-red-500 focus:ring-red-500' :
          ''
        )
      }} {{ class }}"
      value="{{ defaultValue }}"
    >
		{% if errorMessage %}
		<span class="mt-1 text-sm text-red-600">{{ errorMessage }}</span>
		{% endif %}
	</div>
{% endmacro %}
