{% extends "Layouts/main.layout.twig" %}

{% import "Macros/estrelas.twig" as Estrelas %}
{% import "Macros/paginacao.twig" as Paginacao %}

{% block main %}
  <main class="flex-grow">
    <div class="mx-auto max-w-3xl m-4 p-4 md:p-8 md:bg-white/80 md:rounded-lg md:shadow-sm md:border-t-3 md:border-t-gray-800">
      <header class="flex items-center justify-center flex-wrap md:flex-nowrap gap-4">
        <img
          alt="{{ detalhes.prestador }}"
          src="{{ detalhes.foto ?? '/images/avatar-fallback.png' }}"
          class="size-64 md:size-56 object-cover rounded-xl shadow-sm border-3 border-transparent outline outline-gray-800"
        >
        <div class="flex items-center justify-between md:items-start flex-col gap-2">
          <div>
            <h1 class="font-medium text-3xl md:text-4xl text-center md:text-start">
              {{ detalhes.prestador }}
            </h1>
            <p class="mt-2 md:text-lg opacity-60 text-center md:text-start">
              <strong>{{ detalhes.titulo }}:</strong> {{ detalhes.descricacao }}
            </p>
          </div>
          
          <div class="space-y-2">
            <h2>Entre em contato e solicite meus serviços</h2>
            <ul class="flex justify-center md:justify-start gap-4 *:px-2 *:py-1 *:rounded-md *:shadow *:cursor-pointer *:hover:scale-105 *:transition-transform duration-200">
              {% for contato in detalhes.contatos %}
                <li
                  class="
                    {% if contato.tipo == 'Whatsapp' %}bg-emerald-500 text-gray-200
                    {% elseif contato.tipo == 'Instagram' %}bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600 text-gray-200
                    {% elseif contato.tipo == 'Facebook' %}bg-indigo-600 text-gray-200
                    {% elseif contato.tipo == 'Telefone' %}bg-rose-500 text-gray-200
                    {% elseif contato.tipo == 'Email' %}bg-yellow-400 text-gray-900
                    {% else %}outline text-gray-900{% endif %}
                  "
                >
                  {% if contato.tipo == 'Whatsapp' %}
                    <i title="whatsapp" class="text-lg bi bi-whatsapp"></i>
                  {% elseif contato.tipo == 'Instagram' %}
                    <i title="instagram" class="text-lg bi bi-instagram"></i>
                  {% elseif contato.tipo == 'Facebook' %}
                    <i title="facebook" class="text-lg bi bi-facebook"></i>
                  {% elseif contato.tipo == 'Telefone' %}
                    <i title="telefone" class="text-lg bi bi-telephone"></i>
                  {% elseif contato.tipo == 'Email' %}
                    <i title="email" class="text-lg bi bi-envelope-at"></i>
                  {% else %}
                    Outro
                  {% endif %}
                </li>
              {% else %}
                <li class="outline text-gray-900">Nenhum contato informado</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </header>

      <div class="mt-10">
        <h3 class="opacity-80 font-medium text-2xl flex items-center gap-3">
          <span class="w-full h-px bg-gray-400"></span>
          <span>Avaliações</span>
          <span class="w-full h-px bg-gray-400"></span>
        </h3>
        <div class="flex flex-col items-center">
          <h2 class="text-7xl font-semibold">{{ detalhes.mediaAvaliacoes|number_format(1, ',', '.') }}</h2>
          <div>
            {{ Estrelas.render(quantidade: detalhes.mediaAvaliacoes, tamanho: 'xl') }}
          </div>
        </div>
      </div>
  
      {% include "Partials/servicos/mais-detalhes/_avaliacoes.twig" %}
    </div>
  </main>
{% endblock %}