{% set url = getCurrentUrl() %}

{# MENU DE MENU (versão desktop) --> NAVEGAÇÃO #}
<nav class="bg-slate-950/90 py-4 px-6 shadow-sm">
	<div class="max-w-7xl mx-auto flex justify-between items-center">
		{# LOGO --> MENU (versão desktop) #}
		<a class="text-2xl font-bold text-gray-100" href="/">
			Job4<span class="text-yellow-300">Y</span>ou
		</a>

		{# LINKS DO MENU (versão desktop) #}
		<div class="hidden md:flex flex-col md:flex-row items-center space-x-8">
			<a
				class="{{ url starts with '/sobre-nos' ? 'text-gray-200 font-medium underline decoration-gray-200 underline-offset-8' : 'text-gray-300 hover:text-gray-100 hover:underline hover:underline-offset-8' }} transition-colors"
				href="/sobre-nos"
				>
				Sobre Nós
			</a>
			<a
				class="{{ url == '/' ? 'text-gray-200 font-medium underline decoration-gray-200 underline-offset-8' : 'text-gray-300 hover:text-gray-100 hover:underline hover:underline-offset-8' }} transition-colors"
				href="/"
			>
				Buscar Serviços
			</a>
			{% if not session('usuario_autenticado') %}
				<a class="{{ url starts with '/usuarios/cadastro' ? 'text-gray-200 font-medium underline decoration-gray-200 underline-offset-8' : 'text-gray-300 hover:text-gray-100 hover:underline hover:underline-offset-8' }} transition-colors" href="/usuarios/cadastro">Cadastre-se</a>
				<a
					class="bg-yellow-500 hover:opacity-90 text-gray-900 px-6 py-2 rounded-full font-medium transition-colors"
					href="/autenticacao"
				>
					Login
				</a>
			{% else %}

				{% if session('usuario_autenticado').grupo == 'ADMINISTRADOR' %}
					<a
						class="{{ url starts with '/usuarios/meu-perfil' ? 'text-gray-200 font-medium underline decoration-gray-200 underline-offset-8' : 'text-gray-300 hover:text-gray-100 hover:underline hover:underline-offset-8' }} transition-colors"
						href="/painel"
					>
						Painel administrativo
					</a>
				{% endif %}
				<a
					class="{{ url starts with '/usuarios/meu-perfil' ? 'text-gray-200 font-medium underline decoration-gray-200 underline-offset-8' : 'text-gray-300 hover:text-gray-100 hover:underline hover:underline-offset-8' }} transition-colors"
					href="/usuarios/meu-perfil"
				>
					Meu Perfil
				</a>
				<a
					class="bg-yellow-500 hover:opacity-90 text-gray-900 px-6 py-2 rounded-full font-medium transition-colors"
					href="/autenticacao/sair"
				>
					Sair
				</a>
			{% endif %}
		</div>

		{# BOTÃO HAMBÚRGUER (para mobile) #}
		<button class="md:hidden text-gray-100 focus:outline-none" id="menuButton">
			<i class="fas fa-bars text-2xl"></i>
		</button>
	</div>
</nav>
