{% extends "Layouts/main.layout.twig" %}

{% import "Macros/input.twig" as Input %}
{% import "Macros/label.twig" as Label %}
{% import "Macros/alert.twig" as Alert %}
{% import "Macros/button.twig" as Button %}

{% block main %}
  <main class="flex-grow grid place-items-center">
    <div class="w-full md:max-w-md space-y-8 bg-white/80 p-4 md:p-8 shadow rounded-lg">
      <header class="text-center space-y-1">
        <i class="bi bi-shield-lock text-yellow-500 text-5xl mb-4"></i>
        <h2 class="mt-2 text-3xl font-bold text-gray-900">
          Recuperar Senha
        </h2>
        <span class="font-medium opacity-70">
          {{ descricao|default('default value') }}
        </span>
      </header>

      {% if flash_message %}
        {{ Alert.render(flash_message.type, flash_message.message) }}
      {% endif %}

      {% if etapa == 'email' %}
        <form class="mt-8 space-y-6" method="post">
          <div>
            {{ Label.render(for: 'email', text: 'E-mail') }}
            {{ Input.render(
              name: 'email',
              type: 'email',
              placeholder: 'Seu e-mail cadastrado',
              icon: 'bi bi-envelope',
              autocomplete: 'email'
            ) }}
          </div>

          {{ Button.render(type: 'submit', text: 'Enviar código de Recuperação') }}
        </form>
      {% elseif etapa == 'codigo' %}
        <form class="mt-8 space-y-6" method="post">
          <div class="text-center grid gap-3">
            <div id="verification-code-inputs" class="flex gap-2 justify-center">
              <input type="text" inputmode="numeric" pattern="[0-9]{1}" maxlength="1" class="size-12 text-center shadow-sm bg-white ring ring-gray-400 rounded text-2xl" name="code1" id="code1" autocomplete="one-time-code" required />
              <input type="text" inputmode="numeric" pattern="[0-9]{1}" maxlength="1" class="size-12 text-center shadow-sm bg-white ring ring-gray-400 rounded text-2xl" name="code2" id="code2" autocomplete="one-time-code" required />
              <input type="text" inputmode="numeric" pattern="[0-9]{1}" maxlength="1" class="size-12 text-center shadow-sm bg-white ring ring-gray-400 rounded text-2xl" name="code3" id="code3" autocomplete="one-time-code" required />
              <input type="text" inputmode="numeric" pattern="[0-9]{1}" maxlength="1" class="size-12 text-center shadow-sm bg-white ring ring-gray-400 rounded text-2xl" name="code4" id="code4" autocomplete="one-time-code" required />
            </div>
          </div>

          {{ Button.render(type: 'submit', text: 'Continuar') }}
        </form>
      {% elseif etapa == 'senha' %}
        <form class="mt-8 space-y-6" method="post">
          <div>
            {{ Label.render(for: 'primeira-senha', text: 'Nova senha') }}
            {{ Input.render(
              name: 'primeira-senha',
              type: 'password',
              icon: 'bi bi-lock',
              placeholder: 'Insira sua nova senha'
            ) }}
          </div>
          <div>
            {{ Label.render(for: 'segunda-senha', text: 'Repita sua nova senha') }}
            {{ Input.render(
              name: 'segunda-senha',
              type: 'password',
              icon: 'bi bi-lock',
              placeholder: 'Insira sua nova senha novamente'
            ) }}
          </div>
          {{ Button.render(type: 'submit', text: 'Mudar senha') }}
        </form>
      {% endif %}
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="/assets/js/autenticacao/verification-code.js"></script>
{% endblock %}